{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers</h1>

               <div class="card-group" style="margin-top:10px;">
                      <div class="card-body">
                    <img  src="{{ trailers.getImage() }}" alt="Card image cap">
           
                    <h5 class="card-title">{{ trailers.getTitle() }}</h5>
                    <p class="card-text">{{ trailers.getDescription() }}</p>
                    <a href="{{ trailers.getLink() }}" class="btn btn-primary">Movie trailer source</a>
                      <a href="/" class="btn btn-primary">Go back</a>
                    </div>
                   
                    </div>
              </div>
    </div>
{% endblock %}
