{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers</h1>
      
            {% for trailer in trailers %}
               <div class="card-group" style="margin-top:10px;">
             
                    <img  src="{{ trailer.image }}" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title"><a href="movie/{{ trailer.id }}">{{ trailer.title }}</a></h5>
                  
                    </div>
              </div>
     
                
            {% endfor %}
     
    </div>
{% endblock %}
